{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2 class="mt-4 mb-4 text-center">Daftar Kontributor</h2>
  <div class="row justify-content-center mb-4">
    <div class="col-md-6">
      <label for="tipe" class="mr-2">Filter sesuai tipe:</label>
      <select id="tipe" class="form-control">
        <option value="Semua">Semua</option>
        <option value="Sutradara">Sutradara</option>
        <option value="Pemain">Pemain</option>
        <option value="Penulis">Penulis</option>
      </select>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" class="text-center">Nama</th>
          <th scope="col" class="text-center">Tipe</th>
          <th scope="col" class="text-center">Jenis Kelamin</th>
          <th scope="col" class="text-center">Kewarganegaraan</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">Rose</td>
          <td class="text-center">Sutradara</td>
          <td class="text-center">Perempuan</td>
          <td class="text-center">Korea Selatan</td>
        </tr>
        <tr>
          <td class="text-center">Jisoo</td>
          <td class="text-center">Penulis</td>
          <td class="text-center">Perempuan</td>
          <td class="text-center">Korea Selatan</td>
        </tr>
        <tr>
          <td class="text-center">Lisa</td>
          <td class="text-center">Sutradara</td>
          <td class="text-center">Perempuan</td>
          <td class="text-center">Korea Selatan</td>
        </tr>
        <tr>
          <td class="text-center">Jennie</td>
          <td class="text-center">Sutradara, Penulis, Pemain</td>
          <td class="text-center">Perempuan</td>
          <td class="text-center">Korea Selatan</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var selectTipe = document.getElementById("tipe");
    var rows = document.querySelectorAll(".table tbody tr");

    selectTipe.addEventListener("change", function() {
      var selectedValue = selectTipe.value;

      rows.forEach(function(row) {
        var colTipe = row.querySelector("td:nth-child(2)").textContent.trim();
        var colTipeArray = colTipe.split(',').map(function(item) {
          return item.trim();
        });

        if (selectedValue === "Semua" || colTipeArray.includes(selectedValue)) {
          row.style.display = "table-row";
        } else {
          row.style.display = "none";
        }
      });
    });
  });
</script>
{% endblock content %}
