{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2 class="mt-4 mb-4">Halaman Beli</h2>
  <div class="row justify-content-center">
    <div class="card w-100">
      <div class="card-header bg-primary text-white">
        <center><strong>Informasi paket yang ingin dibeli</strong></center>
      </div>
      <div class="table-responsive">
        <table class="table w-100">
          <tbody>
            <tr>
              <td><strong>Nama:</strong></td>
              <td>Bronze</td>
            </tr>
            <tr>
              <td><strong>Harga:</strong></td>
              <td>120000</td>
            </tr>
            <tr>
              <td><strong>Resolusi Layar:</strong></td>
              <td>720p</td>
            </tr>
            <tr>
              <td><strong>Dukungan Perangkat:</strong></td>
              <td>Mobile Phone</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row mt-4 justify-content-center">
    <div class="form-group w-100"> <!-- Menambahkan kelas w-100 untuk mengisi lebar halaman -->
      <label for="metode-pembayaran">Pilih Metode Pembayaran:</label>
      <select class="form-control w-100" id="metode-pembayaran"> <!-- Menambahkan kelas w-100 untuk mengisi lebar halaman -->
        <option value="Transfer Bank">Transfer Bank</option>
        <option value="Kartu Kredit">Kartu Kredit</option>
        <option value="E-Wallet">E-Wallet</option>
      </select>
    </div>
      <div class="text-center"> <!-- Menggunakan text-center untuk membuat button berada di tengah -->
        <button class="btn btn-primary bayar-button">Bayar</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var beliButtons = document.querySelectorAll(".bayar-button");

    beliButtons.forEach(function(button) {
      button.addEventListener("click", function() {
        var currentPath = window.location.pathname;
        var bayarPath = currentPath.replace("beli/", "");
        window.location.href = bayarPath;
      });
    });
  });
</script>
{% endblock content %}
