{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2 class="mt-4 mb-4 text-center">Halaman Kelola Langganan</h2>

  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-header bg-primary text-white text-center font-weight-bold">
          Informasi paket yang ingin dibeli
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Nama</th>
                  <th scope="col" class="text-center">Harga</th>
                  <th scope="col" class="text-center">Resolusi Layar</th>
                  <th scope="col" class="text-center">Dukungan Perangkat</th>
                  <th scope="col" class="text-center">Tanggal Dimulai</th>
                  <th scope="col" class="text-center">Tanggal Akhir</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">Gold</td>
                  <td class="text-center">300000</td>
                  <td class="text-center">4k</td>
                  <td class="text-center">Television</td>
                  <td class="text-center">2 Februari 2024</td>
                  <td class="text-center">2 Februari 2025</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-header bg-primary text-white text-center font-weight-bold">
          Pilih paket lain
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Nama</th>
                  <th scope="col" class="text-center">Harga</th>
                  <th scope="col" class="text-center">Resolusi Layar</th>
                  <th scope="col" class="text-center">Dukungan Perangkat</th>
                  <th scope="col" class="text-center">Beli</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">Bronze</td>
                  <td class="text-center">120000</td>
                  <td class="text-center">720p</td>
                  <td class="text-center">Mobile Phone</td>
                  <td class="text-center"><button class="btn btn-primary beli-button">Beli</button></td>
                </tr>
                <tr>
                  <td class="text-center">Silver</td>
                  <td class="text-center">200000</td>
                  <td class="text-center">1080p</td>
                  <td class="text-center">Television</td>
                  <td class="text-center"><button class="btn btn-primary beli-button">Beli</button></td>
                </tr>
                <tr>
                  <td class="text-center">Gold</td>
                  <td class="text-center">300000</td>
                  <td class="text-center">4k</td>
                  <td class="text-center">Personal Computer</td>
                  <td class="text-center"><button class="btn btn-primary beli-button">Beli</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-header bg-primary text-white text-center font-weight-bold">
          Riwayat transaksi
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Nama Paket</th>
                  <th scope="col" class="text-center">Tanggal Dimulai</th>
                  <th scope="col" class="text-center">Tanggal Akhir</th>
                  <th scope="col" class="text-center">Metode Pembayaran</th>
                  <th scope="col" class="text-center">Tanggal Pembayaran</th>
                  <th scope="col" class="text-center">Total Pembayaran</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">Silver</td>
                  <td class="text-center">2 Februari 2022</td>
                  <td class="text-center">2 Februari 2023</td>
                  <td class="text-center">E-Wallet</td>
                  <td class="text-center">2 Februari 2022</td>
                  <td class="text-center">200000</td>
                </tr>
                <tr>
                  <td class="text-center">Bronze</td>
                  <td class="text-center">2 Februari 2023</td>
                  <td class="text-center">2 Februari 2024</td>
                  <td class="text-center">Kartu kredit</td>
                  <td class="text-center">2 Februari 2024</td>
                  <td class="text-center">120000</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var beliButtons = document.querySelectorAll(".beli-button");

    beliButtons.forEach(function(button) {
      button.addEventListener("click", function() {

        var currentPath = window.location.pathname;
        var beliPath = currentPath + "beli/";

        window.location.href = beliPath;
      });
    });
  });
</script>

{% endblock content %}
